<div>
	<% for (let attribute of attributes){ %>
		<div class="input-group">
			<% if (attribute.type === "text"){ %>
				<input pf-model= '<%= lowerModel %>.<%= attribute.name %>' />
			<% }else if(attribute.type === "number"){ %>
				<input type="number" pf-model= '<%= lowerModel %>.<%= attribute.name %>' />
			<% } %>
		</div>
	<% } %>
</div>
